
body {
    background-color: rgb(223, 215, 198);   
}

header {
    color: rgb(51, 51, 51);
    font-family: 'Roboto', sans-serif;
    line-height: 21px;
    letter-spacing: 1px;
    word-spacing: 6px;
    font-style: bold;
    font-weight: 3000;
    width: 100%;
}
h1 {
    color: rgb(51, 51, 51);
    font-family: 'Roboto', sans-serif;
}
p {
    color: rgb(51, 51, 51);
    font-family: 'Roboto', sans-serif;
}
h2 {
    color: rgb(51, 51, 51);
    font-family: 'Roboto', sans-serif;
}
h3 {
    color: rgb(51, 51, 51);
    font-family: 'Roboto', sans-serif;
}
li {
    color: rgb(51, 51, 51);
    font-family: 'Roboto', sans-serif;
}

/*  Background Image */

.line-img {
    display: block;
    height: 5px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-repeat: repeat-x;
}